{% extends "base.html" %}

{% block title %}Create a User{% endblock %}

{% block content %}
<h2>Create a User</h2>
<form method="POST">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" name="first_name" id="first_name" required>
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" name="last_name" id="last_name" required>
  </div>
  <div class="form-group">
    <label for="image_url">Upload a photo</label>
    <input type="text" class="form-control" name="image_url" id="image_url">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endblock %}
